@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}

body {
  font-family: pretendard;
  background-color: #ff473d;
  text-align: center;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#main h1 a {
  color: white;
  text-decoration: none;
  border-bottom-color: transparent;
  font-size: 100px;
  line-height: 100px;
}

#main p {
  margin: 50px 0px;
  font-size: 30px;
  color: white;
}

#main hr {
  background-color: white;
  width: 200px;
  text-align: center;
  height: 20px;
}
